In [1]:
# Imports
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

ERROR 1: PROJ: proj_create_from_database: Open of /opt/conda/share/proj failed

## Explore options for creating spatial weights matrix

### Read and prepare data

In [18]:
# Read data from .csv file, drop apartments without location data
df = pd.read_csv("data/20-04-23.csv")
df = df[df.longitude != 0.0]
df.head()

        id  rooms  area   rent   latitude  longitude
0  5248131      1    38   5216  55.652406  12.512200
1  5275700      1    37   7900  55.671065  12.501394
2  5211187      1    40   6300  55.649554  12.551497
3  5263181      3    73  11000  55.663465  12.542260
4  5249720      3    73  11000  55.663465  12.542260

In [19]:
# Create GeoDataFrame from Pandas DataFrame
gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.longitude, df.latitude))
gdf.head()

,id,rooms,area,rent,latitude,longitude,geometry
0,5248131,1,38,5216,55.652406,12.512200,POINT (12.51220 55.65241)
1,5275700,1,37,7900,55.671065,12.501394,POINT (12.50139 55.67106)
2,5211187,1,40,6300,55.649554,12.551497,POINT (12.55150 55.64955)
3,5263181,3,73,11000,55.663465,12.542260,POINT (12.54226 55.66347)
4,5249720,3,73,11000,55.663465,12.542260,POINT (12.54226 55.66347)

### Create distance based spatial weight matrix